*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    padding: 0; 
    margin: 0; 
}
  
img, picture, svg, video {
    display: block; 
    max-width: 100%;
}
  
body {
    min-height: 100vh;
}

/////////////////
/// VARIABLES ///
/////////////////

$maincolor: #222;
$contrastcolor: rgb(244, 244, 244);
$lightGrey: #555;

// -------------------//
//        Main        //
// -------------------//

@mixin white-text-black-bg {
    color: $contrastcolor;
    background-color: $maincolor;
}

header {
    // background: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F64.media.tumblr.com%2Fa39911173ad8fd36f451961c23f504b9%2Ftumblr_of1p3313Al1rldv4go1_1280.gif&f=1&nofb=1&ipt=0bee84832b687b114a5f8b5ee78be70e11c5e37c102491eca4779bafc28e9239&ipo=images");
    height: 200px;

    .header-img {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 200px;
        object-fit: cover;
        background-repeat: repeat;
    }

    nav {
        // @include white-text-black-bg();
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        padding: 1.5rem;
        
        a {
            // @include white-text-black-bg();
            color: $contrastcolor;
            text-decoration: none;
            padding: 0 10px;
        }
    }
}


h1 {
    margin: 2rem;
}

footer {
    position: absolute;
    bottom: 0;
}

.App {
    position: relative;
    min-height: 100vh;
}